<h4>  <%= "#{@greeting}" %>  <%= "#{@email}"%>,</h4></br>
<p>
Thanks for installing our app in your  store. We are your trusted Shopify Expert. If you have any questions/issues, please share with us by writing to  apps@kloctechnologies.com. We will provide the best solution.
</p>